<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.datasource">tve_jndi</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    
    <mapping  class="com.green.modelo.Teste"/>
    <mapping class="com.green.modelo.Acesso"/>
    <mapping class="com.green.modelo.Atividade"/>
    <mapping class="com.green.modelo.Autorizacao"/>
    <mapping class="com.green.modelo.Banco"/>
    <mapping class="com.green.modelo.Bandeira"/>
    <mapping class="com.green.modelo.Brinde"/>
    <mapping class="com.green.modelo.Brindemovimentacao"/>
    <mapping class="com.green.modelo.Brindeplanodevenda"/>
    <mapping class="com.green.modelo.Canal"/>
    <mapping class="com.green.modelo.CapaLote"/>
    <mapping class="com.green.modelo.Ccusto"/>
    <mapping class="com.green.modelo.Cheque"/>
    <mapping class="com.green.modelo.Chhistoricod"/>
    <mapping class="com.green.modelo.Chhistoricor"/>
    <mapping class="com.green.modelo.Classificacao"/>
    <mapping class="com.green.modelo.Cliente"/>
    <mapping class="com.green.modelo.Config"/>
    <mapping class="com.green.modelo.Conta"/>
    <mapping class="com.green.modelo.Contato"/>
    <mapping class="com.green.modelo.Contrato"/>
    <mapping class="com.green.modelo.ContratoMidia"/>
    <mapping class="com.green.modelo.CauculoComissao"/>
    <mapping class="com.green.modelo.Credito"/>
    <mapping class="com.green.modelo.Dadospagamento"/>
    <mapping class="com.green.modelo.Debito"/>
    <mapping class="com.green.modelo.Desconto"/>
    <mapping class="com.green.modelo.Despesa"/>
    <mapping class="com.green.modelo.Despesadebito"/>
    <mapping class="com.green.modelo.Documento"/>
    <mapping class="com.green.modelo.Duplicata"/>
    <mapping class="com.green.modelo.Edicao"/>
    <mapping class="com.green.modelo.Empresa"/>
    <mapping class="com.green.modelo.Equipe"/>
    <mapping class="com.green.modelo.Equipebrindemov"/>
    <mapping class="com.green.modelo.Equipefuncionario"/>
    <mapping class="com.green.modelo.Equipefuncionariometa"/>
    <mapping class="com.green.modelo.Equipepontodevenda"/>
    <mapping class="com.green.modelo.Filial"/>
    <mapping class="com.green.modelo.Fornecedor"/>
    <mapping class="com.green.modelo.Funcao"/>
    <mapping class="com.green.modelo.Funcionario"/>
    <mapping class="com.green.modelo.Funcionariometa"/>
    <mapping class="com.green.modelo.Greencfc"/>
    <mapping class="com.green.modelo.Grupoacesso"/>
    <mapping class="com.green.modelo.Grupopontovenda"/>
    <mapping class="com.green.modelo.Imagens"/>
    <mapping class="com.green.modelo.Limite"/>
    <mapping class="com.green.modelo.Lotecontrato"/>
    <mapping class="com.green.modelo.Lotenumeracao"/>
    <mapping class="com.green.modelo.Notasfiscais"/>
    <mapping class="com.green.modelo.Notasfiscaisitens"/>
    <mapping class="com.green.modelo.Operadora"/>
    <mapping class="com.green.modelo.Pessoa"/>
    <mapping class="com.green.modelo.Praca"/>
    <mapping class="com.green.modelo.Produtofornecedor"/>
    <mapping class="com.green.modelo.Produtofornecedoredicao"/>
    <mapping class="com.green.modelo.Produtofornecedorplanovendas"/>
    <mapping class="com.green.modelo.ProdutoMidia"/>
    <mapping class="com.green.modelo.Ramoatividade"/>
    <mapping class="com.green.modelo.Receita"/>
    <mapping class="com.green.modelo.Receitacredito"/>
    <mapping class="com.green.modelo.Subcanal"/>
    <mapping class="com.green.modelo.Tipobloqueio"/>
    <mapping class="com.green.modelo.Tipocliente"/>
    <mapping class="com.green.modelo.Tipoconta"/>
    <mapping class="com.green.modelo.Tipopagamento"/>
    <mapping class="com.green.modelo.Usuario"/>
    <mapping class="com.green.modelo.ContratoPracas"/>
    <mapping class="com.green.modelo.Obsmailing"/>
    <mapping class="com.green.modelo.ObsContrato"/>
    <mapping class="com.green.modelo.Mailing"/>
    <mapping class="com.green.modelo.ProducaoMidia"/>
    <mapping class="com.green.modelo.TaxaParceiro"/>
  </session-factory>
</hibernate-configuration>
